<%- include('../includes/header.ejs') %>
    </head>

    <body style="font-family:sans-serif;" class="d-flex flex-column min-vh-100">
        <%- include('../includes/navigation.ejs') %>
            <div class="container mt-5 ">
                <div>
                    <h1 class="mb-5"><i class="bi bi-envelope-check me-2"></i>Email was
                        sent to you</h1>
                </div>
                <div class="container">
                    <hr>
                    <h4>Not receiving the verification email ?</h4>
                    <p></p>
                    <p>
                        If you don't receive the email within a few minutes, Make sure that you enterd your email correctly</p>
                        <p> Still have peoblem. check your promotions tab. If it still
                        gives you trouble, you can also check Spam/Junk folder
                    </p>
                    <a href="/" class="btn btn-dark">Go Home</a>
                </div>
            </div>
            <%- include('../includes/footer.ejs') %>