<%- include('../includes/header.ejs') %>
</head>
<body style="font-family:sans-serif;" class="d-flex flex-column min-vh-100">
    <%- include('../includes/navigation.ejs') %>
    <h1 class="container mt-5"><i class="bi bi-exclamation-triangle-fill me-2"></i>This link is Invalid or Expired</h1>
    <div class="container">
        <a href="/" class="btn btn-dark mt-2">Go Home</a>
    </div>
    


<%- include('../includes/footer.ejs') %>