<div class="site-instagram mt-auto">
  <div class="action">
    <a class="btn btn-light" href="#">
      Follow us @ Instagram
    </a>
  </div>
  <div class="row g-0">
    <div class="col-sm-6">
      <div class="row g-0">
        <div class="col-3">
          <a class="photo" href="#">
            <img class="img-fluid" src="/images/footer/1.webp" alt="" />
          </a>
        </div>
        <div class="col-3">
          <a class="photo" href="#">
            <img class="img-fluid" src="/images/footer/2.webp" alt="" />
          </a>
        </div>
        <div class="col-3">
          <a class="photo" href="#">
            <img class="img-fluid" src="/images/footer/3.webp" alt="" />
          </a>
        </div>
        <div class="col-3">
          <a class="photo" href="#">
            <img class="img-fluid" src="/images/footer/4.webp" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row g-0">
        <div class="col-3">
          <a class="photo" href="#">
            <img class="img-fluid" src="/images/footer/5.webp" alt="" />
          </a>
        </div>
        <div class="col-3">
          <a class="photo" href="#">
            <img class="img-fluid" src="/images/footer/6.webp" alt="" />
          </a>
        </div>
        <div class="col-3">
          <a class="photo" href="#">
            <img class="img-fluid" src="/images/footer/7.jpg" alt="" />
          </a>
        </div>
        <div class="col-3">
          <a class="photo" href="#">
            <img class="img-fluid" src="/images/footer/8.webp" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="site-footer bg-dark">
  <div class="container">

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact-us">Contact</a>
      </li>
    </ul>
    <div class="copy">
      &copy; Blog<br />
      All rights reserved
    </div>
  </div>
</footer>
</body>
</html>